.home__container{
    margin-top: 5rem;
}

.search__container{
    display: flex;
    justify-content: center;
}

.repo__container{
    margin: 3rem;
}

.repo__content{
    display: inline-flex;
    margin: 3rem;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 1rem 2rem;
    /* height: 5rem; */
}

.repo__con{
    justify-content: center;
    text-decoration: none;
    max-width: 10rem;
    color: #fff;
}